* {
    color: rgba(49, 49, 49, 1);
    font-family: "Golos Text", sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    line-height: 1.2;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    margin: 0;
}

/* HEADER */
.header {
    height: 700px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.header__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.header__image_mobile {
    display: none;
}

.header__main {
    position: absolute;
    inset: 0;
}

.header-container {
    width: calc(100vw - 144px);
    max-width: 1222px;
    margin: 0 auto;
    padding: 26px 0;
    display: flex;
    flex-direction: column;
    gap: 62px;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 6.35px;
}

.header__logo-images {
    display: flex;
    gap: 1.73px;
}

.header__logo-images img {
    width: 21.65px;
}

.header__logo-text {
    font-weight: 700;
    font-size: 16.65px;
    color: rgba(89, 86, 83, 1);
    line-height: 1.08;
}

.header__content {
    max-width: 542px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.header__content-headline {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.header__content-headline-text {
    display: flex;
    flex-direction: column;
}

.header__content-headline_center,
.header__content-headline_right,
.header__content-headline_left {
    font-family: "Merriweather", serif;
    font-size: 60px;
    line-height: 1.10;
}

.header__content-headline_center {
    text-align: center;
}

.header__content-headline_right {
    text-align: end;
}

.header__content-headline-note {
    text-align: center;
    font-size: 18px;
    line-height: 1.3;
}

.header__content-buttons {
    display: flex;
    gap: 16px;
}

.header__content-buttons-support,
.header__content-buttons-details {
    width: 263px;
    height: 72px;
    padding: 0 49px;
    border-radius: 66px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    transition: 0.4s ease;
    transition-property: color, background-color, border;
    cursor: pointer;
}

.header__content-buttons-support:hover,
.header__content-buttons-details:hover {
    transition-duration: 0.2s;
}

.header__content-buttons-support {
    background-color: rgba(31, 31, 31, 1);
    color: white;
}

.header__content-buttons-support:hover {
    background-color: rgba(251, 206, 81, 1);
    color: rgba(31, 31, 31, 1);
}

.header__content-buttons-details {
    border: 2px solid rgba(31, 31, 31, 1);
    color: rgba(31, 31, 31, 1);
}

.header__content-buttons-details:hover {
    background-color: rgba(31, 31, 31, 1);
    color: white;
}

.header__content-buttons-support span,
.header__content-buttons-details span {
    display: block;
    height: 32px;
    line-height: 1.3;
}

/* RUNNING LINE */
.running-line {
    width: 100%;
    height: 60px;
    background-color: rgba(245, 73, 50, 1);
    overflow: hidden;
    padding: 0 12px;
    display: flex;
}

.running-line__content {
    height: 100%;
    align-items: center;
    display: flex;
    min-width: max-content;
    animation: marquee 20s linear infinite;
}

.running-line__text {
    font-family: "Merriweather", serif;
    font-size: 22px;
    color: white;
    line-height: 1.1;
}

.running-line__separator {
    margin: 0 12px;
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 100px;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

/* MAIN */

/* Support */
.main__support {
    margin: 40px auto 0 auto;
    padding: 40px 20px 0 20px;
    display: flex;
    align-items: center;
    gap: 64px;
    max-width: 1262px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}

.main__text {
    font-family: "Merriweather", serif;
    font-size: 36px;
    line-height: 1.35;
}

.main__support__image {
    margin: 0 auto;
}

.main__support__text_mobile {
    display: none;
}

.text_highlighting {
    color: rgba(245, 73, 50, 1);
    font-weight: 700;
}

/* Details */
.main__details {
    margin: 18px auto 0 auto;
    padding: 40px 20px 0 20px;
    max-width: 1262px;
    display: flex;
    align-items: center;
    gap: 48px;
}

.main__details__image img {
    height: 528px;
    margin-top: -67px;
    margin-left: -17px;
}

.main__details__info {
    display: flex;
    flex-direction: column;
}

.main__details__info-text {
    font-family: "Merriweather", serif;
    font-size: 36px;
    line-height: 1.35;
}

.main__details__info-table {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 48px;
}

.info-table__item {
    border-bottom: 2px solid rgba(208, 208, 208, 1);
    display: flex;
}

.info-table__item:last-child {
    border: none;
}

.info-table__item-label {
    border-right: 2px solid rgba(208, 208, 208, 1);
    width: 306px;
    padding: 16px 16px 16px 0;
    opacity: 70%;
    display: block;
}

.info-table__item-value {
    font-weight: 600;
    display: block;
    padding: 16px;
}

.line_through {
    text-decoration: line-through rgba(245, 73, 50, 1);
    -webkit-text-decoration-line: line-through;
    -webkit-text-decoration-color: rgba(245, 73, 50, 1);
    margin-right: 12px;
}

.main__details__info-link a {
    color: rgba(48, 87, 162, 1);
    text-decoration: none;
}

/* Stages */
.main__stages {
    margin: 180px auto 220px auto;
    padding: 0 20px;
    max-width: 1262px;
    display: flex;
    flex-direction: column;
    gap: 54px;
}

.main__stages__header {
    font-family: "Merriweather", serif;
    font-size: 54px;
    max-width: 806px;
}

.main__stages__header-link {
    display: inline-block;
    color: rgba(48, 87, 162, 1);
    width: 280px;
    cursor: pointer;
}

.main__stages__container_mobile {
    display: none;
}

.main__stages__container_desktop {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 20px;
}

.main__stages__panel {
    background: url("../assets/main/stages-bg.webp");
    background-position: -356px -50px;
    padding: 20px;
}

.main__stages__panel-item {
    display: flex;
    gap: 16px;
}

.main__stages__panel-number {
    width: 36px;
    height: 36px;
    border-radius: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.main__stages__panel-text {
    font-weight: 500;
}

.main__stages__panel_double-row {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.main__stages__panel_double-column {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    background-position: -20px -20px;
    display: flex;
}

.main__stages__image-container_mobile {
    display: none;
}

.main__stages__image-container {
    position: relative;
    width: 290px;
    flex-shrink: 0;
}

.main__stages__image {
    position: absolute;
    bottom: -22px;
    left: -30px;
}

.main__stages__buttons {
    display: none;
}

/* Participants */
.main__participants {
    margin: 0 auto 140px auto;
    padding: 0 20px;
    max-width: 1262px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.main__participants__header {
    display: flex;
    justify-content: space-between;
}

.main__participants__header-text {
    font-family: "Merriweather", serif;
    font-size: 54px;
}

.main__participants__mobile {
    display: none;
}

.main__participants__desktop {
    display: flex;
}

.main__participants__header__buttons {
    align-items: center;
    gap: 14px;
    flex-shrink: 0;
}

.main__button {
    width: 44px;
    height: 44px;
    padding: 0;
    background-color: rgba(49, 49, 49, 1);
    border: none;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease;
    transition-property: background-color;
    cursor: pointer;
}

.main__button:hover {
    background-color: rgba(251, 206, 81, 1);
}

.main__button:disabled {
    background-color: rgba(49, 49, 49, 0.2);
}

.main__button img {
    height: 16.92px;
}

.main__participants__header__pages {
}

.main__participants__header__pages span {
    font-size: 16px;
    min-width: 300px;
}

.main__participants__header__pages span:last-child {
    opacity: 60%;
}

.main__participants__container {
    overflow: hidden;
}

.main__participants__list {
    min-width: max-content;
    display: flex;
    position: relative;
    right: 0;
    transition: right 0.5s;
}

.main__participants__list__item {
    width: calc((1262px - 40px) / 3);
    height: 462px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.main__participants__list__item-image {
    margin: 0 auto;
}

.main__participants__list__item-name {
    font-size: 24px;
    font-weight: 600;
    margin: 28px auto 4px auto;
}

.main__participants__list__item-title {
    margin: 0 auto;
    opacity: 60%;
}

.main__participants__list__item-about {
    margin: auto auto 0 auto;
    padding: 0 12px;
    height: 35px;
    font-size: 16px;
    border: 1px solid rgba(48, 87, 162, 1);
    border-radius: 62px;
    color: rgba(48, 87, 162, 1);
    background: none;
    transition: 0.4s ease;
    transition-property: background-color, border;
    cursor: pointer;
}

.main__participants__list__item-about:hover {
    background-color: rgba(48, 87, 162, 1);
    color: white;
}

/* FOOTER */
.footer {
    width: 100%;
    background-color: rgba(233, 222, 212, 1);
    padding-top: 40px;
    padding-bottom: 72px;
}

.footer__text {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1262px;
    font-size: 16px;
    opacity: 60%;
}

